* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DFDFCE;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fffff0;
    z-index: 99;
}

.nav_content {
    max-width: 1200px;
    margin: auto;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 10px;
}

nav .logo a {
    color: black;
    font-family: Meddon, cursive;
    font-size: 40px;
    transition: .3s;
}

nav .logo a:hover {
    color: gray;
}

nav .checkbox, nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    padding-top: 28px;
}

ul li a {
    padding: .5rem 1rem;
    text-decoration: none;
    font-family: Abyssinica SIL, serif;
    font-size: 20px;
    color: black;
}

ul li a:hover {
    background-color: #DFDFCE;
}

.carousel-item {
    width: 100% !important;
    height: 900px !important;
    padding-top: 100px;
}

@media (max-width: 1399px) {
    .carousel-item {
        height: 100px !important;
    }
}

@media (max-width: 600px) {
    nav .checkbox {
        display: block;
    }

    nav .logo a {
        font-size: 2rem;
        padding-left: 30px;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        top: 100px;
        left: 100%;
        background-color: #9D957F;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        padding-top: 100px;
    }

    nav #check:checked ~ ul {
        left: 0;
    }

    ul li a {
        font-size: 1.2rem;
        color: black;
    }

    .section_container {
        /* height: calc(100vh - 85px);
        width: calc(100vh - 85px); */

        padding: 22vh 1vh;
        text-align: left;
        /* grid-template-columns: repeat(2, 1fr); */
        display: flex;
        justify-content: center;
        align-content: center;
    }

    button {
        margin: auto;
    }
}

